* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2a2a;
  color: #8a8a8a;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

#wrapper h1 {
  margin: 18px 0 8px;
}

#wrapper h1 + span {
  font-style: italic;
  text-shadow: 2px 2px 20px #000;
}

footer {
  margin: 15px 0;
}
