@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap");

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #181520;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  padding: 2em 4em;
  text-align: center;
  animation: page-anim 0.5s ease-out;
}

.background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(#181520, #fe3333, #fe33d1, #33b5fe);
  opacity: 0.1;
}

h1 {
  margin: 18px auto 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 1px #181520;
}

h1 + span {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
}

img.pzh {
  display: block;
  width: 240px;
  height: 162px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}

ul {
  list-style-type: none;
  margin-top: 1.5em;
  text-align: center;
}

ul li {
  display: inline-block;
}

ul li a {
  padding: 6px 12px;
  color: #dadedf;
}

ul li:hover a {
  color: #000;
}

ul li a svg {
  height: 25px;
  fill: #dadedf;
  opacity: 0.5;
  transform: opacity 0.25s;
}

ul li a svg:hover {
  opacity: 1;
}

@keyframes page-anim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
